:root {
	--font-family: 'Inter', sans-serif;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	--body-bg: #020204;
	--input-result-bg: #020204;
	--input-operand-bg: #29262a;
	--button-operation-bg: #fe9811;
	--button-operation-font-color: #fff0c9;
	--font-color-white: #fff;
	--border-color-gray: #565658;

	--wrapper-border-radius: 16px;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--body-bg);
	font-family: var(--font-family);
}
