h1 {
	width: 100%;
	text-align: center;
	color: var(--font-color-white);
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--border-color-gray);
}
.wrapper {
	min-width: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 32px;
	border: 2px solid var(--border-color-gray);
	border-radius: var(--wrapper-border-radius);
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 12px;
}

.operand-input,
.result-input {
	width: 100%;
	height: 48px;
	padding: 0 24px;
	border-radius: 12px;
	outline: none;
	font-family: var(--font-family);
	color: var(--font-color-white);
	font-weight: 500;
	font-size: 16px;
}

.operand-input {
	background-color: var(--input-operand-bg);
	border: 1px solid transparent;
}

.operand-input.error {
	border: 1px solid #f33;
}

.result-input {
	background-color: var(--input-result-bg);
	border: 1px solid var(--border-color-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.result,
.operation {
	color: var(--font-color-white);
	font-weight: 500;
	font-size: 16px;
}

.button-operation {
	width: 100%;
	height: 48px;
	padding: 0 24px;
	border-radius: 12px;
	outline: none;
	background-color: var(--button-operation-bg);
	color: var(--font-color-white);
	font-weight: 500;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s opacity ease;
}

.button-operation:hover {
	opacity: 0.9;
}

.alert {
	height: 24px;
	color: var(--font-color-white);
}
