header {
	position: fixed;
	width: 100%;
	height: var(--header-height-desktop);
	background-color: var(--color-blue);
	z-index: 10;
}
.header-container {
	height: 100%;
	max-width: var(--container-max-width-desktop);
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-container a {
	color: var(--color-white);
}
.header-link {
	font-size: 36px;
	font-weight: var(--font-weight-black);
	text-transform: uppercase;
}
.nav-list {
	display: flex;
	gap: 32px;
}
.nav-list-link {
	font-weight: var(--font-weight-medium);
	font-size: 18px;
	opacity: var(--opacity-80);
	transition: 0.2s opacity ease-in;
}
.nav-list-link:hover {
	opacity: var(--opacity-100);
}
